@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 70px;
}

.title {
  font-size: 70px
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: powderblue;
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: #1d4ed8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3;
  padding: 0.3rem; 
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
}